/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}


/******************************************
/* LAYOUT
/*******************************************/
body {
    background: no-repeat url('../css/background.png')
}

h1 {
    font-size: 5rem;
    font-family: 'Truculenta', sans-serif;
    color: white;
    text-align: center;
    margin-top: 30px;
}

img {
    display: block;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card1 {
    width: 82px;
    height: 153px;
}

.card2 {
    width: 146px;
    height: 273px;
}

.control-btn {
    /* margin-top: 80px; */
}

.cards-container {
    align-items: flex-end;
    margin-bottom: 20px;
}

select,
input {
    margin: 0px 50px;
    width: 374px;
    height: 89px;
    background: #FFFFFF;
    color: #aaa;
    border-radius: 100px;
    padding: 30px 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #aaa;
    font-size: 2.4rem;
}

input {
    border-style: none;
}

.btn {
    width: 134px;
    height: 89px;
    background: #000000;
    color: white;
    border-radius: 100px;
    padding: 30px 50px;
    border-style: none;
    color: #fff;
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.input-section {
    padding-top: 40px;
}

.number-text {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

.number-section {
    margin-bottom: -40px;
    padding-top: 40px;
}

.sort-text {
    padding-top: 32px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 2.4rem;
}

select.dropdown {
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    /* linear-gradient(to right, #ccc, #ccc); */
    background-position:
        calc(100% - 20px) calc(1.6em + 4px),
        calc(100% - 15px) calc(1.6em + 4px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.control-btn {
    align-items: baseline;

}

.info-box {
    width: 280px;
    height: 244px;
    background: #3C3E43;
    margin-top: -19px;
    border-radius: 0 0 10px 10px;
}

.info-section {
    padding-top: 5px;
    padding-left: 20px;
}

.main-card {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;

    /* margin-top: 40px; */

}

.character-name {
    color: #fff;
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-top: 20px;
}

.character-status,
.character-episode-name,
.location-title,
.character-species {
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: -8px;

}

.character-status,
.character-species {
    margin-top: -8px;
}

.character-location,
.character-episode {
    color: #9E9E9E;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#rick-image {
    width: 280px;
    height: 276px;
}

/* .control-btn{
  
}
.contol-section{
  display: flex;
  
} */
/******************************************
/* ADDITIONAL STYLES
/*******************************************/